*.[od]
*.exe
*.ho
codec-cfg
codec-cfg-test
codecs2html
codecs.conf.h
config.*
cpuinfo
ffmpeg
gmplayer
help_mp.h
mencoder
mplayer
tags
TAGS
version.h
debian/changelog
debian/files
debian/mplayer-dbg/
debian/mplayer-doc/
debian/mplayer-gui/
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
DOCS/codecs-status.html
DOCS/HTML/
DOCS/HTML-single/
DOCS/tech/doxygen
DOCS/xml/html-chunk.xsl
DOCS/xml/html-single.xsl
DOCS/xml/xml.mak
DOCS/xml/*/main.xml
drivers/mga_vid_test
drivers/tdfx_vid_test
ffmpeg/
libdvdnav/
libdvdread4/
libvo/aspecttest
loader/qtx/list
loader/qtx/qtxload
TOOLS/alaw-gen
TOOLS/alaw.dat
TOOLS/alaw.out
TOOLS/asfinfo
TOOLS/avi-fix
TOOLS/avisubdump
TOOLS/bmovl-test
TOOLS/compare
TOOLS/cpuinfo
TOOLS/dump_mp4
TOOLS/fastmemcpybench
TOOLS/modify_reg
TOOLS/movinfo
TOOLS/netstream
TOOLS/subrip
TOOLS/vivodump
vidix/pci_*.[ch]
vidix/dhahelperwin/dhahelper.sys
